<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
			<h1 class="display-5 fw-bold">Welcome to Quick Quizz <br> Le meilleur Quizz Game</h1>
			<p>Créez un compte ou connectez vous pour jouer.</p>
			<div class="flex">
				<a href="/register" class="btn btn-primary btn-block mb-2">Inscription</a>
				<a href="/login" class="btn btn-secondary btn-block">Connexion</a>
			</div>
		</div>
	</div>
</div>
